@using kuujinbo.Mvc.NET.HtmlHelpers;
@model kuujinbo.Mvc.NET.Examples.Models.TestModel

<h1 style='margin-top:0;padding-top:0;'>kuujinbo.Mvc.NET</h1>

<div class='row'>
    <div class='col-xs-6'>
        <ul class='list-group'>
            <li class='list-group-item'><a href='https://localhost:44343/CacUser'>ClientCertificate / CacUser Example</a></li>
            <li class='list-group-item'>@Html.ActionLink("FileUploadStore Example", "Index", "FileUploadStore")</li>
            <li class='list-group-item'>@Html.ActionLink("PdfResult Example (File Download)", "PdfResult", "Home")</li>
        </ul>
    </div>
    <div class='col-xs-6'>
        <ul class='list-group'>
            <li class='list-group-item'>@Html.ActionLink("CheckboxGroupToggler HtmlHelper Example", "Index", "CheckboxGroupToggler")</li>
            <li class='list-group-item'>@Html.ActionLink("JQueryAutoComplete HtmlHelper Example", "Index", "JQueryAutoComplete")</li>
        </ul>
    </div>
</div>

<div class='row'>
    <div class='col-xs-4'>
        @using (Html.BeginForm("Post", "Home"))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Form POST</legend>
                <input class='btn btn-primary' type="submit" value="Submit" />
                @if (TempData["result"] != null)
                { <p>@Html.Raw(@TempData["result"])</p>;
                }
            </fieldset>
        }
    </div>
    <div class='col-xs-4'>
        @using (Html.BeginForm("PostIgnoreXsrfFilter", "Home"))
        {
            <fieldset>
                <legend>Form PostIgnoreXsrfFilter</legend>
                <input class='btn btn-primary' type='submit' value='Submit' />
                @if (TempData["resultPostIgnoreXsrfFilter"] != null)
                { <p>@Html.Raw(@TempData["resultPostIgnoreXsrfFilter"])</p>;
                }
            </fieldset>
        }
    </div>
    <div class='col-xs-4'>
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>ValidateJsonAntiForgeryTokenAttribute</legend>
            <button id='json-antiforgery-token' data-url='@Url.Action("JsonAntiForgery", "Home")' class='btn btn-primary' type='button'>
                Submit
            </button>
        </fieldset>
        @Html.JQueryXhr()


        @Html.AddInlineScript(@"
var jsonAntiForgeryButton = document.querySelector('#json-antiforgery-token');

if (jsonAntiForgeryButton != null) {
    jsonAntiForgeryButton.addEventListener(
        'click',
        function(e) {
            var jqxhr = new JQueryXhr();
            jqxhr.send(
                e.target.dataset.url,
                function(data) { alert(data); },
                { Id: 1, Name: 'TEST NAME' }
            );
        }
    );
}")
    </div>
</div>