@model  kuujinbo.ASP.NET.Mvc.Misc.Services.JqueryDataTables.Table
<h1>@ViewBag.Title</h1>

@Html.AntiForgeryToken()
@* element id selector used in /scripts/DataTables/jQDataTablesIndex.js *@
<div id='data-table-actions' style='margin:10px 0;'>
    @Html.Raw(@Model.ActionButtonsHtml())
</div>

<table id='jquery-data-table' class='table table-striped compact'>
    <thead>
        <tr>
            @Html.Raw(@Model.GetTheadHtml())
        </tr>
    </thead>
    <tfoot>
        <tr>
            @Html.Raw(@Model.GetTfootHtml())
        </tr>
    </tfoot>
</table>

@section scripts
{
<script type='text/javascript'>
var configValues = @Html.Raw(@Model.GetJavaScriptConfig());
</script>
@Scripts.Render("~/bundles/jQueryDataTables")
}