@using kuujinbo.Mvc.NET.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width' />
<title>@ViewBag.Title</title>
@Styles.Render("~/Content/css")
</head>
<body>
@Html.Partial("_navMenu")
<div class="container-fluid">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)

@{ var timeout = 0; }
@if (ViewBag.TerminatorTimeout != null) { timeout = (int)ViewBag.TerminatorTimeout; }


@Html.TerminateSession(@timeout, @Url.Action("Logout", "NoticeAndConsent"))

@Html.RenderViewScripts()
</body>
</html>