@using kuujinbo.ASP.NET.Mvc.HtmlHelpers
<!DOCTYPE html>
<html ng-app='angular1'>
<head>
<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
@Styles.Render("~/Content/css")
</head>
<body>
@Html.Partial("_navMenu")
<div class="container-fluid">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
<script type='text/javascript' src='@Url.Content("~/scripts/Xhr.js")'></script>

@RenderSection("scripts", required: false)
@Html.RenderViewScripts()
</body>
</html>