@model kuujinbo.ASP.NET.Mvc.Models.TestModel

    @using (Html.BeginForm("Index", "FluentTest", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()

        <div>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Name" })
        @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
        @Html.EnumDropDownListFor(model => model.Status, "-- Select Status --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div>
            @Html.TextBoxFor(model => model.Position, new { @class = "form-control", placeholder = "Enter Position" })
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div>
        @Html.TextBoxFor(model => model.Hobby.Name, new { @class = "form-control", placeholder = "Enter Hobby" })
        @Html.ValidationMessageFor(model => model.Hobby.Name)
        </div>


        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>

@Html.SimpleFileUpload()
    }

<p><a href='/FluentTest'>Reset</a></p>

@section scripts
{
}